<?xml version="1.0"?>

<robot name = "left_leg_macro" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Macro for the creation of a leg -->
    <!-- hub_relative_origin is the origin of the hub relative to its parent's origin (the bottom_PCB in this case) 
         similarly for the other parts of upper_link and lower_link-->
    <xacro:macro name = "leftLeg" params = "name parent *hub_relative_origin *upper_link_relative_origin *lower_link_relative_origin">

        <!-- Create hub that connects to the motor -->
        <xacro:property name = "hubName" value = "${name}_left_hub"/>
        <link name = "${hubName}">
            <inertial>
                <xacro:scaleOrigin  x = "${left_hub_com_x}" 
                                    y = "${left_hub_com_y}" 
                                    z = "${left_hub_com_z}"/>
                <xacro:scaleMass mass = "${left_hub_mass}"/>
                <xacro:scaleMMOI ixx  = "${left_hub_ixx}"
                                 iyy  = "${left_hub_iyy}"
                                 izz  = "${left_hub_izz}"
                                 ixy  = "${left_hub_ixy}"
                                 ixz  = "${left_hub_ixz}"
                                 iyz  = "${left_hub_iyz}" />
            </inertial>

            <xacro:if value = "${full_urdf}">
            <visual name = "${hubName}_visual">
                <material name = "blue"/>
                <geometry> 
                    <mesh filename = "${VisualPath}/Leg/assembly_hip_left_STL.stl" scale = "${meshScale_meters}"/>
                </geometry>  
            </visual>

            <collision name = "${hubName}_collision">
                <geometry>
                    <mesh filename = "${CollisionPath}/Leg/assembly_hip_left_simplified.dae" scale = "${meshScale_meters}"/>
                </geometry>
            </collision>
            </xacro:if>
        </link>

        <!-- Create the upper link portion (the thigh, if you will) -->
        <xacro:property name = "upperName" value = "${name}_left_upper_link"/>
        <link name = "${upperName}">
            <inertial>
                <xacro:scaleOrigin  x = "${left_upper_link_com_x}" 
                                    y = "${left_upper_link_com_y}" 
                                    z = "${left_upper_link_com_z}"/>
                <xacro:scaleMass mass = "${left_upper_link_mass}"/>
                <xacro:scaleMMOI ixx  = "${left_upper_link_ixx}"
                                 iyy  = "${left_upper_link_iyy}"
                                 izz  = "${left_upper_link_izz}"
                                 ixy  = "${left_upper_link_ixy}"
                                 ixz  = "${left_upper_link_ixz}"
                                 iyz  = "${left_upper_link_iyz}" />
            </inertial>

            <xacro:if value = "${full_urdf}">
            <visual name = "${upperName}_visual">
                <material name = "yellow"/>
                <geometry>
                    <mesh filename = "${VisualPath}/Leg/assembly_upper_link_left_STL.stl" scale = "${meshScale_meters}"/>
                </geometry>
            </visual>

            <collision name = "${upperName}_collision">
                <geometry>
                    <mesh filename = "${CollisionPath}/Leg/assembly_upper_link_left_simplified.dae" scale = "${meshScale_meters}"/>
                </geometry>
            </collision>
            </xacro:if>
        </link>

        <!-- Create the lower link -->
        <xacro:property name = "lowerName" value = "${name}_left_lower_link"/>

        <link name = "${lowerName}">
            <inertial>
                <xacro:scaleOrigin  x = "${left_lower_link_com_x}" 
                                    y = "${left_lower_link_com_y}" 
                                    z = "${left_lower_link_com_z}"/>
                <xacro:scaleMass mass = "${left_lower_link_mass}"/>
                <xacro:scaleMMOI ixx  = "${left_lower_link_ixx}"
                                 iyy  = "${left_lower_link_iyy}"
                                 izz  = "${left_lower_link_izz}"
                                 ixy  = "${left_lower_link_ixy}"
                                 ixz  = "${left_lower_link_ixz}"
                                 iyz  = "${left_lower_link_iyz}" />
            </inertial>

            <xacro:if value = "${full_urdf}">
            <visual>
                <material name = "blueGreen"/>
                <geometry>
                    <mesh filename = "${VisualPath}/Leg/assembly_lower_link_left_STL.stl" scale = "${meshScale_meters}"/>
                </geometry>
            </visual>

            <collision name = "${lowerName}_collision">
                <geometry>
                    <mesh filename = "${CollisionPath}/Leg/assembly_lower_link_left_simplified.dae" scale = "${meshScale_meters}"/>
                </geometry>
            </collision>
            </xacro:if>
        </link>

        <xacro:if value = "${full_urdf}">
        <gazebo reference="${name}_left_lower_link">
            <collision>
                <surface>
                    <contact>
                        <ode>
                            <xacro:insert_block name = "contact_kp" /> <!-- <kp>1e15</kp> -->
                            <xacro:insert_block name = "contact_kd" /> <!-- <kd>1e13</kd> -->
                            <!-- <min_depth>0.01</min_depth> -->
                        </ode>
                    </contact>
                    <friction>
                        <ode>
                            <mu>0.9</mu> <!--floor friction-->
                            <mu2>0.9</mu2>
                        </ode>
                    </friction>
                </surface>
            </collision>
        </gazebo>
        </xacro:if>

        <!-- Connect leg to parent with a motor -->
        <xacro:motor name = "${name}_left_hip" axis = "-1 0 0" fixed_parent = "${parent}" revolute_child = "${hubName}">
            <xacro:insert_block name = "hub_relative_origin"/>
        </xacro:motor>

        <!-- Join the Hub and the Upper Link with a motor -->
        <xacro:motor name = "${name}_left_shoulder" axis = "0 1 0" fixed_parent = "${hubName}" revolute_child = "${upperName}">
            <xacro:insert_block name = "upper_link_relative_origin"/>
        </xacro:motor>

        <!-- Connect Upper Link and Lower Link with a motor -->
        <xacro:motor name = "${name}_left_elbow" axis = "0 -1 0" fixed_parent = "${upperName}" revolute_child = "${lowerName}">
            <xacro:insert_block name = "lower_link_relative_origin"/>
        </xacro:motor>

    </xacro:macro>
</robot>